<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="http://www.zi-han.net/theme/hplus/favicon.ico">
    <link href="../../../public/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../../public/bootstrap/font-awesome.min.css" rel="stylesheet">
    <link href="../../../public/bootstrap/custom.css" rel="stylesheet">
    <link href="../../../public/bootstrap/animate.min.css" rel="stylesheet">
    <link href="../../../public/bootstrap/style.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目管理</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            项目/版本:
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="项目/版本" id="exampleInputEmail2" class="form-control">
                        </div>
                        <div class="form-group">
                            需求名称:
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="需求名称" id="exampleInputPassword2" class="form-control">
                        </div>
                        <div class="form-group">
                        </div>
                        <button class="btn btn-white" type="submit">查询</button>
                    </form>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="40px">#</th>
                            <th width="150px">项目名称</th>
                            <th width="150px">需求名称</th>
                            <th width="180px">需求计划</th>
                            <th width="200px">完成情况</th>
                            <th width="180px">本周计划</th>
                            <th width="60px">负责人</th>
                            <th width="60px">状态</th>
                            <th>版本目标</th>
                            <th>风险与措施</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>12月份需求</td>
                            <td>xxxxxxxxxxxxxxxxx</td>
                            <td><p>开发：12.22 － 12.25</p>
                                <p>联调：12.29</p>
                                <p>提测：12.30</p>
                                <p>测试：12.31-1.4</p>
                                <p>灰度：1.5上班车</p></td>
                            <td >
                                <p class="p1"><span style="color: rgb(255,0,0);">xxxxxxxxxxxxxxxxxxxxxxxxxx</span></p>
                                <p class="p1"><span style="color: rgb(255,0,0);">多次回归测试，</span><span
                                        style="color: rgb(255,0,0);">灰度时间由1.5号调整为1.8</span></p></td>
                            <td ></td>
                            <td ><p><span>xxxxxxx</span></p>
                                <p>xxxxxxxx</p></td>
                            <td>
                                <button type="button" class="btn btn-warning">Action</button>
                                <button type="button" class="btn btn-danger">Action</button>
                                <button type="button" class="btn btn-default">Action</button>
                                <button type="button" class="btn btn-success">Action</button>
                                <button type="button" class="btn btn-primary">Action</button>
                                <button type="button" class="btn btn-info">Action</button>
                            </td>
                            <td><p>bug修复xxxxxxx</p></td>
                            <td>xxxxxxx</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../public/bootstrap/jquery.min.js"></script>
<script src="../../../public/bootstrap/bootstrap.min.js"></script>

</body>
</html>